
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #21D4FD;
      background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
      z-index: 1001;
      color: #eee;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 1s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

body{
    font-family: Ariel, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}


.menu{
    float: left;
    padding-left: 432px;
    
}
.menu ul{
     float: left;
    margin-left: 432px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/guy.png) 90% 100%/auto 85% no-repeat, url(../img/fon.jpg) center/cover no-repeat;
}
.title__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    opacity: 0;
    text-align: center; 
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
     
}
.title__container h1{
    font-size: 66px;
    font-weight: bold;
    text-shadow: 
      2px 2px 0px #d5d5d5, 
      4px 4px 0px rgba(0, 0, 0, 0.2);
}
.title__container h4{
    margin-top: 40px;
    font-weight: 22px;
    color: #79818d;
}
.title__container input{
    height: 40px;
    text-align: center;
    border:  2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size:  13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;   
}

.menu li a{
   transition: all 0.1s; 
    color: white;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
   color: #e88604;
}
.menu li a:active{
     transform: scale(1.1);
}
.title__container input{
    transition: all 0.2s;
    transform: scale(1);
}
.title__container input:hover{
    background: #344051;
    color: white;
}

.title__container input:active{
    transform: scale(1.1);
}

@keyframes comming{
    from{
        opacity: 0;
    }   
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
}
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2.0s;
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
}
    to{
        opacity: 1;
        margin-left: 404px;
    }
    }
.title h3{
    font-weight: bold;
    text-align: center; 
    margin-top: 111px;
    color: #263244;
    font-size:  30px;
    font-weight: bold;
}
.title p{
   text-align: center; 
   margin-top: 32px;
}
.photo p{
   text-align: center;  
   margin-top: 60px;
     margin-bottom: 25px;
}
.info p{
    color: #3f495a;
    font-size:  15px;
    margin-bottom: 41px;
    width: 731px;
    margin-left: 595px;  
}
.info1 p{
    color: #3f495a;
    font-size:  15px;
    margin-bottom: 37px;
    width: 731px;
    margin-left: 595px;
}

.download{
    text-align: center;
    
}
 
.download input{
   height: 33px;
    width: 155px;
    border:  2px solid #6d7682;
    border-radius: 5px;
    color: #6d7682;
    font-size:  13px;
    font-weight: 22px;
    background: url(../img/icon.png) no-repeat;
    background-position: 10px 7px;
    text-indent: 20px;
    margin-bottom: 90px;
}

 .download input:active{
     transform: scale(1.1);
}


.title1 h3{
    font-weight: bold;
    text-align: center; 
    color: #263244;
    font-size:  30px;
    font-weight: bold;
    padding-top: 107px;
    
}
.title1 p{
   text-align: center; 
    margin-top: 32px;
    margin-bottom: 100px;

}
.list{
    text-align: center;
    
}
.list li{
    text-align: center;
    width: 208px;
    color: #3f495a;
    font-size:  12px;
    display: inline-block;
    margin-left: 42px;
    margin-right: 42px;
}
.list h4{
    text-align: center;
    font-size:  20px;
    color: #cf7600;
    margin-bottom: 15px;
    margin-top: 36px;
    font-weight: bold;
}

.title2 h3{
    text-align: center; 
    color: #263244;
    font-size:  30px;
    font-weight: bold;
    padding-top: 107px;
}
.title2 p{
   text-align: center; 
    margin-top: 32px;
    margin-bottom: 36px;
}
.pic p{
   text-align: center;
    width: 1168px;
    height: 590px;
    margin-bottom: 42px;
        
}
.text{
    text-align: center;
    font-size: 20px;
    color: #263244;
    margin-bottom: 42px;
}
.box h4{
    color: #263244;
    text-align: left;
    font-size: 17px;
    padding-bottom: 14px;
    font-weight: bold;
}
.box{
    margin-left: 389px;
    float: left;
    height: 108px;
}
.box p{
    color: #263244;
    font-size: 14px;
    padding-bottom: 16px;
    margin-right: 100px;
}
.box2 h4{
    color: #263244;
    text-align: left;
    font-size: 17px;
    padding-bottom: 14px;
    font-weight: bold;
}
.box2{ 
    height: 108px;
    width: 80%;
}
.box2 p{
    color: #263244;
    font-size: 14px;
    padding-bottom: 16px;
}
.site input{
   height: 45px;
    width: 205px;
    text-align: center;
    border:  0px solid;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size:  17px;
    padding: 0px 38px;
    margin-left: 389px;
    font-weight: bold;
    margin-top: 27px;
}
 .site input:active{
     transform: scale(1.1);
}
section {
  width: 100%;
height: 100vh;
box-sizing: border-box;}

section.sec1 {
  background: url(../img/fon1.jpg) no-repeat center / cover;
    background-attachment: fixed;
    height: 524px;
}

section.sec2 {
  background-color: white;
    background-attachment: fixed;}

.calculate h2{
    text-align: center;
    font-weight: bold;
    font-size:  40px;
    margin-top: 404px;
    color: #1c2534;
    margin-bottom: 56px;
}
.calculate h4{
    font-weight: bold;
    font-size:  30px;
    margin-left: 495px;
    color: #1c2534;
    padding-bottom: 24px;
}
.list1{
    margin-left: 495px;
    width: 891px;
    height: 57px;
    background-color: #eeeeee;
    color: #737373;
    padding-top: 5px;
    padding-left: 25px; 
    font-size: 15px;
    margin-bottom: 50px;
}
hr{
    border:1px solid #eeeeee;
    margin-left: 495px;
    width: 891px;
}
.result p{
    margin-left: 495px;
     color: #1c2534;
    font-size:  25px;
    margin-top: 23px;
    font-weight: bold;
}
.result{
    float: left;
}
.zero p{
    margin-right: 515px;
    text-align: end;
     color: #1c2534;
    font-size:  25px;
    margin-top: 23px;
    font-weight: bold;
}
.statics h3{
    text-align: center; 
    color: #263244;
    font-size:  30px;
    font-weight: bold;
    padding-top: 107px;
}
.statics p{
    text-align: center; 
    margin-top: 32px;
    margin-bottom: 75px;
}

.list2{
    text-align: center;
     background: url(../img/fon2.jpg) center/cover no-repeat;
    width: 100%;
    height: 524px;
    margin-top: 154px;
}
.list2 li{
    text-align: center;
    color: #323e4f;
    font-size:  15px;
    display: inline-block;
    margin-left: 70px;
    margin-right: 70px;
    font-weight: bold;
}
.list2 h4{
    text-align: center;
    font-size:  40px;
    color: #323e4f;
    margin-bottom: 30px;
    margin-top: 33px;
    font-weight: bold;
}
.fdbck h3{
    text-align: center; 
    color: #263244;
    font-size:  30px;
    font-weight: bold;
    padding-top: 107px;
}
.fdbck p{
    text-align: center; 
    margin-top: 34px;
    margin-bottom: 60px;
}
.feedback{
    text-align: center;
}
.feedback p{
    text-align: center;
    width: 687px;
    color: #243042;
    font-size:  15px;
    margin-left: 616px;
    margin-top: 37px;
}
.title3 h3{
    text-align: center; 
    color: #fff;
    font-size:  30px;
    font-weight: bold;
    padding-top: 107px;
}
.title3 p{
   text-align: center; 
    margin-top: 32px;
    margin-bottom: 33px;
}
.back3{
    background: url(../img/fon3.jpg) center/cover no-repeat;
    width: 100%;
    height: 809px;
    margin-top: 154px;
}
.text p{
    color: #fff;
    text-align: center;
    font-size:  15px;
    margin-bottom: 49px;
}
.list3{
     text-align: center;
}

.list3 li{
    text-align: center;
    color: #fff;
    font-size:  15px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}
.list3 p{
    padding-top: 12px;
    width: 155px;
}
.message h5{
    text-align: center;
    color: #fff;
    font-size:  19px;
    font-weight: bold;
    margin-top: 58px;
    margin-bottom: 46px;
}
.message p{
    margin-left: 594px;
    color: #5d5d5e;
    margin-right: 30px;
    margin-bottom: 10px;
}
.name p{
    float: left;
}
.message input{
   height: 34px;
    width: 353px;
    background: rgba(209, 213, 219, 0.85);
    padding-left: 13px;
}
.message textarea{
    height: 95px;
    width: 736px;
    background: rgba(209, 213, 219, 0.85);
    padding-top: 10px;
    padding-left: 13px;

}
.send input{
   height: 44px;
    width: 125px;
    text-align: center;
    border:  2px solid #fff;
    background: none;
    border-radius: 4px;
    color: #fff;
    font-size:  17px;
    padding: 0px 21px; 
    margin-left: 304px;
    margin-top: 10px;
} 
.send input:hover{
   color: #e88604;
}
.send input:active{
     transform: scale(1.1);
}
.list{
    text-align: center;
    
}
.list3 li{
    text-align: center;
    display: inline-block;
    margin-left: 24px;
}
.gps img{
    width: 100%;  
}
.recktangle{
    width: 100%;
    height: 94px;
    background: #354051;
}
.recktangle p{
    color: #fff;
    text-align: center;
    font-size:  13px;
    padding-top:  42px;
}

